<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CacheApp</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/tableStyle.css">
  <title>CacheApp</title>
</head>

<body>
  <header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap pb-7 flex-col md:flex-row md:justify-center items-center lg:ml-0">
      <a class="flex title-font font-medium items-left text-gray-900 mb-10 md:mb-0" href="/">
        <a class="transform scale-50 flex title-font font-medium items-left md:justify-start justify-center text-gray-900"
          href="/">
          <img class="mb-5" src="/imgs/CacheApp - Emblem - Small.png" />
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </a>
      </a>
      {{#if logged_in}}
      <nav
        class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-gray-900" href="/dashboard">Dashboard</a>
        <a class="mr-5 hover:text-gray-900" href="/create-budget">Create expense</a>
      </nav>
      <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded
        text-base mt-4 md:mt-0 sm:shadow-lg" id="logout">
        Logout
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>
      {{else}}
      <nav
        class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center invisible">
        <a class="mr-5 hover:text-gray-900" href="/dashboard">Dashboard</a>
        <a class="mr-5 hover:text-gray-900" href="/create-budget">New Budget</a>
        <a class="mr-5 hover:text-gray-900" href="/record-expense">Add Expense</a>
        <a href="/login">
          <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded
        text-base mt-4 md:mt-0 md:mr-3 items-end md:justify-center">
            Login
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </a>
      </nav>
      {{/if}}
    </div>
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer class="text-gray-600 body-font">
    <div
      class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">

    </div>
    <div class="container px-5 py-12 mx-auto">
      <div class="flex flex-wrap md:text-left text-center -mb-10 -mx-4">
        <div class="lg:w-1/6 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">
            The Boys
          </h2>
          <nav class="list-none mb-10">
            <li>
              <a href="https://github.com/javierperez98" class="text-gray-600 hover:text-gray-800">Javier The Jovial</a>
            </li>
            <li>
              <a href="https://github.com/ChrisPayan" class="text-gray-600 hover:text-gray-800">Christian The Calm</a>
            </li>
            <li>
              <a href="https://github.com/UnDuhDuhSea" class="text-gray-600 hover:text-gray-800">Tyler The Tireless</a>
            </li>
            <li>
              <a href="https://github.com/hdezbriant" class="text-gray-600 hover:text-gray-800">Brian The Brave</a>
            </li>
          </nav>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="bg-gray-100">
      <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p class="text-gray-500 text-sm text-center sm:text-left">
          © 2021 CacheApp
        </p>
      </div>
    </div>
  </footer>
  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <!--Datatables -->
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  <script>
    $(document).ready(function () {

      var table = $('#example').DataTable({
        responsive: true
      })
        .columns.adjust()
        .responsive.recalc();

      $('#example').on('click', 'a.editor_edit', function (e) {
        e.preventDefault();

        editor.edit($(this).closest('tr'), {
          title: 'Edit record',
          buttons: 'Update'
        });
      });
    });
    $('#example').on('click', 'a.editor_edit', function (e) {
      e.preventDefault();

      editor.edit($(this).closest('tr'), {
        title: 'Edit record',
        buttons: 'Update'
      });
    });

  </script>
  {{#if logged_in}}
  <script src="/dist/logout.js"></script>
  {{/if}}
</body>

</html>