<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/css/tailwind.css" rel="stylesheet" />
  <title>CacheApp</title>
</head>

<body>
  <main>
    {{{ body }}}
    <button><a href="/signup">here to sign into account</a></button>
    <br />
    <br />
    <button><a href="/login">here to sign into account</a></button>
  </main>
  <footer>
    <p> ipsum dolor sit amet consectetur adipisicing elit. Rerum, ipsam id! Tenetur officia aperiam animi fugit tempora
      quam minima deleniti!</p>
  </footer>
</body>

</html>