<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <form id="createBudget">
    <div class="max-w-md w-full space-y-8 ">
      <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Create a new Budget</h2>
      <div class="relative mb-4">
        <select
          class="border border-gray-300 rounded-full text-gray-600 h-10 pl-5 pr-10 bg-white hover:border-green-400 focus:outline-none appearance-none"
          id="title" name="title">
          <option value="" disabled selected>Select a Category</option>
          <option>Housing</option>
          <option>Utilities</option>
          <option>Food</option>
          <option>Travel</option>
          <option>Transportation</option>
          <option>Clothing</option>
          <option>Medical</option>
          <option>Personal</option>
          <option>Education</option>
          <option>Entertainment</option>
          <option>Saving</option>
        </select>
      </div>
      <div class="relative mb-4">
        <label for="sub-category" class="leading-7 text-sm text-gray-600">Expense Name</label>
        <input type="text" id="sub-category" name="sub-category"
          class="w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <div class="relative mb-4">
        <label for="plannedAmount" class="leading-7 text-sm text-gray-600">Planned Amount</label>
        <input type="number" min="1" id="plannedAmount" name="plannedAmount"
          class="w-full bg-white rounded border border-gray-300 focus:border-green-500 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <br>
      <a href='/dashboard'>
        <button type="submit"
          class="text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg">
          Create!
        </button>
      </a>
    </div>
  </form>
</div>
<script src="/js/create.js"></script>